.blog-post {
    display: grid;
    place-items: center;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}

.blog-post p{
    width: 70%;
    line-height: 36px;
    font-size: 24px;
    margin-bottom: 4rem;
    text-align: left;
}

.blog-post h2 {
    font-size: 56px;
}


.edit-bar {
    margin-top: 1rem;
    cursor: pointer;
}

.edit-bar li{
    float: left;
    list-style-type: none;
    margin-right: 1rem;
    
}

.images {
    display: flex;
    flex-wrap: wrap;
}
  
.images li {
    height: 40rem;
    flex-grow: 1;
    list-style-type: none;
}
  
.blog-post img {
    display: flex;
    justify-content: center;
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
}

@media (max-width: 800px) {
    .blog-post {
        margin-top: 4rem;
    }
}