.blog-post {
    display: grid;
    place-items: center;
    font-family: 'Lato', sans-serif;
}

.blog-post p{
    width: 70%;
    line-height: 28px;
    font-size: 22px;
    margin-bottom: 4rem;
    text-align: left;
}

.blog-post h2 {
    font-size: 56px;
}


.edit-bar {
    margin-top: 1rem;
    cursor: pointer;
}

.edit-bar li{
    float: left;
    list-style-type: none;
    margin-right: 1rem;
    
}

.images {
    display: flex;
    flex-wrap: wrap;
}
  
.images li {
    height: 40rem;
    flex-grow: 1;
    list-style-type: none;
}
  
.images img {
    max-height: 60%;
    min-width: 100%;
    object-fit: fill;
    vertical-align: bottom;
}